In [1]:
import pandas as pd
import numpy as np

# featuretools for automated feature engineering
#import featuretools as ft

# matplotlib and seaborn for visualizations
import matplotlib.pyplot as plt
plt.rcParams['font.size'] = 22
import seaborn as sns

# Suppress warnings from pandas
import warnings
warnings.filterwarnings('ignore')

In [2]:
app_train = pd.read_csv('train_final.csv').sort_values('SK_ID_CURR').reset_index(drop = True)

In [3]:
app_train

,Unnamed: 0,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,client_installments_AMT_PAYMENT_min_sum,client_installments_AMT_INSTALMENT_min_sum,client_installments_AMT_PAYMENT_sum_max,client_installments_AMT_INSTALMENT_sum_max,client_installments_AMT_PAYMENT_mean_sum,client_installments_AMT_INSTALMENT_mean_sum,client_installments_AMT_INSTALMENT_max_sum,client_installments_AMT_PAYMENT_max_sum,client_installments_AMT_PAYMENT_sum_sum,client_installments_AMT_INSTALMENT_sum_sum
0,0,100002,1,0,0,1,0,202500.0,406597.5,24700.5,...,175783.73,175783.73,219625.700,219625.700,219625.690,219625.690,1.008781e+06,1.008781e+06,4.172888e+06,4.172888e+06
1,1,100003,0,0,0,0,0,270000.0,1293502.5,35698.5,...,1154108.20,1154108.20,1150977.400,1150977.400,1618864.600,1618864.600,4.394102e+06,4.394102e+06,1.134881e+07,1.134881e+07
2,2,100004,0,1,1,1,0,67500.0,135000.0,6750.0,...,16071.75,16071.75,21288.465,21288.465,21288.465,21288.465,3.172190e+04,3.172190e+04,6.386539e+04,6.386539e+04
3,3,100006,0,0,0,1,0,135000.0,312682.5,29686.5,...,994476.70,994476.70,691786.900,691786.900,1007153.400,1007153.400,1.057860e+06,1.057860e+06,3.719995e+06,3.719995e+06
4,4,100007,0,0,0,1,0,121500.0,513000.0,21865.5,...,483756.38,825845.80,280199.700,294631.120,806127.940,835985.300,8.367034e+05,8.367034e+05,1.139621e+07,1.179154e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,307506,456251,0,0,0,0,0,157500.0,254700.0,27558.0,...,46241.37,46241.37,52450.470,52450.470,52450.470,52450.470,8.970507e+04,8.970507e+04,3.671533e+05,3.671533e+05
307507,307507,456252,0,0,0,1,0,72000.0,269550.0,12001.5,...,60281.28,60281.28,60419.203,60419.203,60419.203,60419.203,6.044679e+04,6.044679e+04,3.625152e+05,3.625152e+05
307508,307508,456253,0,0,0,1,0,153000.0,677664.0,29979.0,...,41805.99,61529.04,33413.758,33413.758,57622.812,61595.910,6.166175e+04,6.166175e+04,3.048920e+05,3.247575e+05
307509,307509,456254,1,0,0,1,0,171000.0,370107.0,20205.0,...,194556.81,194556.81,171592.420,171592.420,194556.810,194556.810,1.945568e+05,1.945568e+05,1.773976e+06,1.773976e+06
307510,307510,456255,0,0,0,0,0,157500.0,675000.0,49117.5,...,171612.27,1646200.60,2251553.800,1692260.900,3525819.800,3068388.800,2.415755e+07,2.572420e+07,8.135078e+07,6.643655e+07

In [4]:
x=app_train.drop(columns = ['TARGET','Unnamed: 0'])

In [5]:
x

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,client_installments_AMT_PAYMENT_min_sum,client_installments_AMT_INSTALMENT_min_sum,client_installments_AMT_PAYMENT_sum_max,client_installments_AMT_INSTALMENT_sum_max,client_installments_AMT_PAYMENT_mean_sum,client_installments_AMT_INSTALMENT_mean_sum,client_installments_AMT_INSTALMENT_max_sum,client_installments_AMT_PAYMENT_max_sum,client_installments_AMT_PAYMENT_sum_sum,client_installments_AMT_INSTALMENT_sum_sum
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,175783.73,175783.73,219625.700,219625.700,219625.690,219625.690,1.008781e+06,1.008781e+06,4.172888e+06,4.172888e+06
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,1154108.20,1154108.20,1150977.400,1150977.400,1618864.600,1618864.600,4.394102e+06,4.394102e+06,1.134881e+07,1.134881e+07
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,16071.75,16071.75,21288.465,21288.465,21288.465,21288.465,3.172190e+04,3.172190e+04,6.386539e+04,6.386539e+04
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,994476.70,994476.70,691786.900,691786.900,1007153.400,1007153.400,1.057860e+06,1.057860e+06,3.719995e+06,3.719995e+06
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,483756.38,825845.80,280199.700,294631.120,806127.940,835985.300,8.367034e+05,8.367034e+05,1.139621e+07,1.179154e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,0,0,157500.0,254700.0,27558.0,225000.0,0.032561,...,46241.37,46241.37,52450.470,52450.470,52450.470,52450.470,8.970507e+04,8.970507e+04,3.671533e+05,3.671533e+05
307507,456252,0,0,1,0,72000.0,269550.0,12001.5,225000.0,0.025164,...,60281.28,60281.28,60419.203,60419.203,60419.203,60419.203,6.044679e+04,6.044679e+04,3.625152e+05,3.625152e+05
307508,456253,0,0,1,0,153000.0,677664.0,29979.0,585000.0,0.005002,...,41805.99,61529.04,33413.758,33413.758,57622.812,61595.910,6.166175e+04,6.166175e+04,3.048920e+05,3.247575e+05
307509,456254,0,0,1,0,171000.0,370107.0,20205.0,319500.0,0.005313,...,194556.81,194556.81,171592.420,171592.420,194556.810,194556.810,1.945568e+05,1.945568e+05,1.773976e+06,1.773976e+06
307510,456255,0,0,0,0,157500.0,675000.0,49117.5,675000.0,0.046220,...,171612.27,1646200.60,2251553.800,1692260.900,3525819.800,3068388.800,2.415755e+07,2.572420e+07,8.135078e+07,6.643655e+07

In [6]:
y=app_train.iloc[:,2].values

In [7]:
y

array([1, 0, 0, ..., 0, 1, 0], dtype=int64)

In [8]:
#x.replace([np.inf, -np.inf], np.nan)

In [9]:
def missing_values_table(df):
    mis_val=df.isnull().sum()
    mis_val_percent=100*mis_val/len(df)
    mis_val_table=pd.concat([mis_val,mis_val_percent],axis=1)
    mis_val_table_ren_columns=mis_val_table.rename(columns={0:'Missing values',1:'% of Total_values'})
    mis_val_table_ren_columns=mis_val_table_ren_columns[mis_val_table_ren_columns.iloc[:,1]!=0].sort_values('% of Total_values',ascending=False).round(1)
    return mis_val_table_ren_columns

In [10]:
missing_x=missing_values_table(x)
missing_x

                                       Missing values  % of Total_values
previous_RATE_INTEREST_PRIVILEGED_max          302902               98.5
previous_RATE_INTEREST_PRIMARY_min             302902               98.5
previous_RATE_INTEREST_PRIMARY_mean            302902               98.5
previous_RATE_INTEREST_PRIMARY_max             302902               98.5
previous_RATE_INTEREST_PRIVILEGED_min          302902               98.5
...                                               ...                ...
EXT_SOURCE_2                                      660                0.2
AMT_GOODS_PRICE                                   278                0.1
AMT_ANNUITY                                        12                0.0
CNT_FAM_MEMBERS                                     2                0.0
DAYS_LAST_PHONE_CHANGE                              1                0.0

[1004 rows x 2 columns]

In [11]:
x

,SK_ID_CURR,NAME_CONTRACT_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,client_installments_AMT_PAYMENT_min_sum,client_installments_AMT_INSTALMENT_min_sum,client_installments_AMT_PAYMENT_sum_max,client_installments_AMT_INSTALMENT_sum_max,client_installments_AMT_PAYMENT_mean_sum,client_installments_AMT_INSTALMENT_mean_sum,client_installments_AMT_INSTALMENT_max_sum,client_installments_AMT_PAYMENT_max_sum,client_installments_AMT_PAYMENT_sum_sum,client_installments_AMT_INSTALMENT_sum_sum
0,100002,0,0,1,0,202500.0,406597.5,24700.5,351000.0,0.018801,...,175783.73,175783.73,219625.700,219625.700,219625.690,219625.690,1.008781e+06,1.008781e+06,4.172888e+06,4.172888e+06
1,100003,0,0,0,0,270000.0,1293502.5,35698.5,1129500.0,0.003541,...,1154108.20,1154108.20,1150977.400,1150977.400,1618864.600,1618864.600,4.394102e+06,4.394102e+06,1.134881e+07,1.134881e+07
2,100004,1,1,1,0,67500.0,135000.0,6750.0,135000.0,0.010032,...,16071.75,16071.75,21288.465,21288.465,21288.465,21288.465,3.172190e+04,3.172190e+04,6.386539e+04,6.386539e+04
3,100006,0,0,1,0,135000.0,312682.5,29686.5,297000.0,0.008019,...,994476.70,994476.70,691786.900,691786.900,1007153.400,1007153.400,1.057860e+06,1.057860e+06,3.719995e+06,3.719995e+06
4,100007,0,0,1,0,121500.0,513000.0,21865.5,513000.0,0.028663,...,483756.38,825845.80,280199.700,294631.120,806127.940,835985.300,8.367034e+05,8.367034e+05,1.139621e+07,1.179154e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,0,0,0,157500.0,254700.0,27558.0,225000.0,0.032561,...,46241.37,46241.37,52450.470,52450.470,52450.470,52450.470,8.970507e+04,8.970507e+04,3.671533e+05,3.671533e+05
307507,456252,0,0,1,0,72000.0,269550.0,12001.5,225000.0,0.025164,...,60281.28,60281.28,60419.203,60419.203,60419.203,60419.203,6.044679e+04,6.044679e+04,3.625152e+05,3.625152e+05
307508,456253,0,0,1,0,153000.0,677664.0,29979.0,585000.0,0.005002,...,41805.99,61529.04,33413.758,33413.758,57622.812,61595.910,6.166175e+04,6.166175e+04,3.048920e+05,3.247575e+05
307509,456254,0,0,1,0,171000.0,370107.0,20205.0,319500.0,0.005313,...,194556.81,194556.81,171592.420,171592.420,194556.810,194556.810,1.945568e+05,1.945568e+05,1.773976e+06,1.773976e+06
307510,456255,0,0,0,0,157500.0,675000.0,49117.5,675000.0,0.046220,...,171612.27,1646200.60,2251553.800,1692260.900,3525819.800,3068388.800,2.415755e+07,2.572420e+07,8.135078e+07,6.643655e+07

In [12]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
imputer=SimpleImputer(strategy='mean')
imputer.fit(x)
x=imputer.transform(x)

In [13]:
x[x<0]=0

In [14]:
from sklearn.feature_selection import SelectKBest 
from sklearn.feature_selection import chi2
chi2_features = SelectKBest(chi2, k = 1000) 
X_kbest_features = chi2_features.fit_transform(x, y)

In [15]:
print('Original feature number:', x.shape[1]) 
print('Reduced feature number:', X_kbest_features.shape[1])

Original feature number: 1185
Reduced feature number: 1000

In [16]:
X_kbest_features

array([[1.0000200e+05, 0.0000000e+00, 0.0000000e+00, ..., 1.0087812e+06,
        4.1728882e+06, 4.1728882e+06],
       [1.0000300e+05, 0.0000000e+00, 0.0000000e+00, ..., 4.3941015e+06,
        1.1348806e+07, 1.1348806e+07],
       [1.0000400e+05, 1.0000000e+00, 1.0000000e+00, ..., 3.1721895e+04,
        6.3865395e+04, 6.3865395e+04],
       ...,
       [4.5625300e+05, 0.0000000e+00, 0.0000000e+00, ..., 6.1661746e+04,
        3.0489203e+05, 3.2475750e+05],
       [4.5625400e+05, 0.0000000e+00, 0.0000000e+00, ..., 1.9455681e+05,
        1.7739758e+06, 1.7739758e+06],
       [4.5625500e+05, 0.0000000e+00, 0.0000000e+00, ..., 2.5724196e+07,
        8.1350776e+07, 6.6436548e+07]])

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [18]:
x_train,x_test,y_train,y_test=train_test_split(X_kbest_features,y,test_size=0.3,random_state=10)

In [19]:
model =  RandomForestClassifier(random_state=10)
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=10, verbose=0,
                       warm_start=False)

In [21]:
y_pred=model.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [22]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[84744    12]
 [ 7475    23]]

0.9188436273765908